<h1 id="">Add new provider</h1>
<hr>

<div id="new_provider">
	<form action="/providers" accept-charset="utf-8" method="post">
		<p>
			<label for='provider_title'>Title:</label><br>
			<input type="text" name="provider[title]" id="provider_title" size="40">
		</p>
		<p>
			<label for='provider_consumer_key'>Consumer Key:</label><br>
			<input type="text" name="provider[consumer_key]" id="provider_consumer_key" size="60">
		</p>
		<p>
			<label for='provider_consumer_secret'>Consumer Secret:</label><br>
			<input type="text" name="provider[consumer_secret]" id="provider_consumer_secret" size="60">
		</p>
		<p>
			<label for='provider_request_token_url'>Request Token URL:</label><br>
			<input type="text" name="provider[request_token_url]" id="provider_request_token_url" size="80">
		</p>
		<p>
			<label for='provider_authorize_url'>Provider Authorize URL:</label><br>
			<input type="text" name="provider[authorize_url]" id="provider_authorize_url" size="80">
		</p>
		<p>
			<label for='provider_access_token_url'>Provider Access Token URL:</label><br>
			<input type="text" name="provider[access_token_url]" id="provider_access_token_url" size="80">
		</p>
		<p><input type="submit" value="Continue &rarr;"></p>
	</form>
</div>

